<app-nav></app-nav>
<app-imput-form></app-imput-form>

<section class="Posts">
  <a name="posts"></a>
  <div class="container" style="margin-top: 100px;">
    <div *ngFor="let note of notes" class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-top: 60px;">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{note.header}}</h5>
        <small>Created on {{note.createdOn}} by {{note.userName}} ({{note.userEmail}})</small>
      </div>
      <p class="mb-1">{{note.body}}</p>
    </div>
  </div>
</section>