<app-nav></app-nav>

<section class="Posts">
  <a name="posts"></a>
  <div class="container" style="margin-top: 100px;">
    <ul class="list-group list-group-flush list-group-item list-group-item-action flex-column align-items-start active">
      <li *ngFor="let note of notes" class="list-group-item">
        {{note.id}} - {{note.userName}}
      </li>
    </ul>
  </div>
</section>

<section class="Posts">
  <a name="posts"></a>
  <div class="container" style="margin-top: 100px;">
    <div *ngFor="let note of notes" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{note.header}}</h5>
        <small>Created on {{note.CreatedOn}} by {{note.userName}} ({{note.UserEmail}})</small>
      </div>
      <p class="mb-1">{{note.body}}</p>
    </div>
  </div>
</section>