<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Beaver's News Portal</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <div class="d-flex" *ngIf="user">
          <label class="nav-link active" style="color: azure; margin-right: 20px;">{{user.name}}</label>
          <label class="nav-link active" style="color: azure; margin-right: 20px;">{{user.email}}</label>
        </div>
      </div>
    </div>
  </nav>